erl-ihe-rfd/erl-ihe-rfd/src/wsdl/RFDFormProcessor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:ihe="urn:ihe:iti:rfd:2007" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsaw="http://www.w3.org/2005/08/addressing"
   xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="FormProcessor"
   targetNamespace="urn:ihe:iti:rfd:2007">
   <types>
      <xsd:schema elementFormDefault="qualified" targetNamespace="urn:ihe:iti:rfd:2007">
         <xsd:include schemaLocation="../schema/IHE/RFD.xsd" />
      </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="urn:ihe:iti:rfd:2007"
            schemaLocation="../schema/IHE/RFD.xsd">
         </xsd:import>
      </xsd:schema>
   </types>
   <!-- Message definitions -->
   <message name="RetrieveForm_Message">
      <documentation>Retrieve Form Request</documentation>
      <part name="body" element="ihe:RetrieveFormRequest" />
   </message>
   <message name="RetrieveFormResponse_Message">
      <documentation>Retrieve Form Response</documentation>
      <part name="body" element="ihe:RetrieveFormResponse" />
   </message>
   
   <message name="RetrieveClarification_Message">
      <documentation>Request clarification from the organization identified.
      </documentation>
      <part name="body" element="ihe:RetrieveClarificationRequest" />
   </message>
   <message name="RetrieveClarificationResponse_Message">
      <documentation>Return clarifications and appropriate status message.
      </documentation>
      <part name="body" element="ihe:RetrieveClarificationResponse" />
   </message>
   
   <message name="SubmitFormRequest">
    <documentation>
      Payload is the XML instance data being submitted/archived.
    </documentation>
    <part name="Body" element="ihe:SubmitFormRequest" />
  </message>
  <message name="SubmitFormResponse">
    <documentation>
      Status of XML instance data submitted/archived.
    </documentation>
    <part name="Body" element="ihe:SubmitFormResponse" />
  </message>

   <portType name="FormProcessor_PortType">
   
      <operation name="FormProcessor_RetrieveForm">
         <documentation>Corresponds to Transaction ITI-34 of the IHE Technical Framework</documentation>
         <input message="ihe:RetrieveForm_Message" wsam:Action="urn:ihe:iti:2007:RetrieveForm" />
         <output message="ihe:RetrieveFormResponse_Message"
            wsam:Action="urn:ihe:iti:2007:RetrieveFormResponse" />
      </operation>
      
      <operation name="FormProcessor_RetrieveClarification">
         <documentation>Corresponds to Transaction ITI-XXX of the IHE Technical Framework</documentation>
         <input message="ihe:RetrieveClarification_Message" wsam:Action="urn:ihe:iti:2007:RetrieveClarification" />
         <output message="ihe:RetrieveClarificationResponse_Message"
            wsam:Action="urn:ihe:iti:2007:RetrieveClarificationResponse" />
      </operation>
      
    <operation name="SubmitForm">
      <documentation>Corresponds to Transaction ITI-35 of the IHE Technical Framework</documentation>
      <input message="ihe:SubmitFormRequest" />
      <output message="ihe:SubmitFormResponse" />
    </operation>
    
   </portType>

   <binding name="FormProcessor_Binding_Soap12" type="ihe:FormProcessor_PortType">
      <soap12:binding style="document"
         transport="http://schemas.xmlsoap.org/soap/http" />
      <operation name="FormProcessor_RetrieveForm">
         <soap12:operation soapAction="urn:ihe:iti:2007:RetrieveForm" />
         <input>
            <soap12:body use="literal" />
         </input>
         <output>
            <soap12:body use="literal" />
         </output>
      </operation>
      <operation name="FormProcessor_RetrieveClarification">
         <soap12:operation soapAction="urn:ihe:iti:2007:RetrieveClarification" />
         <input>
            <soap12:body use="literal" />
         </input>
         <output>
            <soap12:body use="literal" />
         </output>
      </operation>
      <operation name="SubmitForm">
      <soap12:operation soapAction="urn:ihe:iti:2007:SubmitForm" />
      <input><soap12:body use="literal" /></input>
      <output><soap12:body use="literal" /></output>
    </operation>
   </binding>

  <!-- Service definition -->   
   <service name="FormProcessor_Service">
      <port binding="ihe:FormProcessor_Binding_Soap12" name="FormProcessor_Port_Soap12">
         <soap12:address location="http://localhost/RFDFormProcessor" />
      </port>
   </service>
</definitions>
